/** 

This is a partial.
It lies in <source>/_sass, just waiting to be imported.
It does not contain the YAML front matter and has no corresponding output file in the built site. 

*/

// CRYOSTAT COLORS

$cryostat-blue-0: #eff8ff;
$cryostat-blue-1: #CAE9FF;
$cryostat-blue-2: #95C9E9;
$cryostat-blue-3: #5FA8D3;
$cryostat-blue-4: #1B4965;


// Base Colors
$black : #000000;
$white : #FFFFFF;

//Grayscale
$gray-0 : #EFEFEF;
$gray-1 : #AAAAAA;
$gray-2 : #555555;
$gray-3 : #333333;
$gray-4 : #222222;

// Alternative spelling
$grey-0 : #EFEFEF;
$grey-1 : #AAAAAA;
$grey-2 : #555555;
$grey-3 : #333333;
$grey-4 : #222222;


// Hyperlink
$link : #1B4965;
$link-hover : #5FA8D3;
