h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: $cryostat-blue-4;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


h6 {
font-family: 'Montserrat', sans-serif;
  font-weight: 800;}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.logo-title {
  width: 100%;
  max-width: 200px;
}

.footer-heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}

.cryostat-heading-1 {
  @extend .page-heading;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: $cryostat-blue-4;

}

.cryostat-blurb {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 2em;
  color: $white;
}

.cryostat-blurb-top {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.cryostat-heading-2 {
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid ;
}

a {
  color: $link;
  text-decoration: underline;

 &:visited {
    color: darken($link, 15%);
    }

  &:hover, &:active, &:focus {
    color: $link-hover;
    } 
 
}


.footer-col-1 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.site-footer {
  background-color: $cryostat-blue-0;
  border-top: 1px solid $cryostat-blue-1;

  a {
    color: $cryostat-blue-4;
    text-decoration: underline;}
}

.footer-col-wrapper {
  color: $cryostat-blue-4;
}

details {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

details > summary {
  cursor: pointer;
  margin-bottom: 0.8em;
}

details > figure > a > img {
  border: 2px solid $grey-0;
}

details p {
  font-family: inherit;
  font-weight: inherit;
}

details {
  .multi-image {
    display: flex;
    figure {
      figcaption {
        text-align: center;
      }
    }
  }
}

figcaption > code {
  font-size: 0.9em;
}

.page-link {
  font-size: 1.25em;
}

.primary-cta-button {
  color: $cryostat-blue-4 !important;
  background-color: $cryostat-blue-0;
  border: 2px solid $cryostat-blue-1;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.5;
  transition: background .2s ease-in 0s;
  text-decoration: none;
  padding: 0 3rem;
  display: inline-block;
  white-space: normal;
  &:hover, &:active, &:focus {
    background-color: $cryostat-blue-4;
    border-color: $cryostat-blue-4;
    color: $cryostat-blue-2 !important;

  }
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;
    padding: .75rem 2rem;
  }
  margin-top: 4em;
  margin-bottom: 4em;

  &.btn-sm {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
    padding: .5rem 2rem;
    @media screen and (max-width: 768px) {
      padding: .5rem 0;
    }
  }
}

.primary-disabled-button {
  color: $grey-2 !important;
  background-color: $grey-0;
  border: 2px solid $grey-1;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.5;
  transition: background .2s ease-in 0s;
  text-decoration: none;
  padding: 0 3rem;
  display: inline-block;
  white-space: normal;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;
    padding: .75rem 0;
  }
  margin-top: 4em;
  margin-bottom: 4em;

  &.btn-sm {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
    padding: .5rem 2rem;
    @media screen and (max-width: 768px) {
      padding: .5rem 0;
    }
  }
}

.centre {
  text-align: center;
}

.cryostat-home {
  background-image: url(/assets/images/cryostat-homehero-bkg.png);
  background-color: $cryostat-blue-3;
  background-size: 100%;
  background-repeat: no-repeat;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
