---
layout: default
---

<div class="cryostat-blurb">
    <div class="cryostat-blurb-top">JFR for Containerized Java Applications</div>
    <div>
        <div>
            Securely manage JFR recordings for your containerized Java workloads. Start, stop, and dump recordings for further analysis with triggers on Kubernetes
        </div>
        <div style="margin-top: 2em">
            Now available for Kubernetes 1.19+ and OpenShift 4.6+
        </div>
    </div>
</div>

<div class="centre">
    <a class="cryostat-get-started-button" href="/get-started/">Get Started</a>
</div>

