<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content cryostat-home" aria-label="Content">
      <div class="wrapper">
            <div class="cryostat-blurb">
                <div class="cryostat-blurb-top">Self-Hosted Observability for Java in Containers</div>
                <div>
                    <div>
                        Securely manage JDK Flight Recorder (JFR) and other performance data for your containerized Java workloads.
                    </div>
                    <div style="margin-top: 2em">
                      Cryostat is an upstream project sponsored by Red Hat and is available for
                      Kubernetes {{ site.data.versions.kubernetes.version }}+,
                      OpenShift {{ site.data.versions.openshift.version }}+, and Docker/Podman Compose
                    </div>
                </div>
            </div>
            <div class="centre">
                <a class="primary-cta-button" href="/get-started/">Get Started</a>
            </div>
      </div>
    </main>

    {%- include footer.html -%}
    {%- include redhat-footer.html -%}
    {%- include scripts.html -%}
    {%- include rh-analytics-footer.html -%}
  </body>

</html>
